/* CUSTOM PROPS */
:root {
  --body-bg: #fafafa;
  --element-bg: #fff;
  --text-color: #111517;
  --box-shadov: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
}


/* FONTS */
@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-SemiBold.woff2") format("woff2"),
    url("../fonts/NunitoSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-Regular.woff2") format("woff2"),
    url("../fonts/NunitoSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-Light.woff2") format("woff2"),
    url("../fonts/NunitoSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-ExtraBold.woff2") format("woff2"),
    url("../fonts/NunitoSans-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  background-color: var(--body-bg);
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}


/* DARK MODE */
.dark-mode {
  --body-bg: #202c36;
  --element-bg: #2b3844;
  --text-color: #fff;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1480px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* SITE HEADER */
.site-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 80px 24px 81px;
  box-shadow: var(--box-shadov);
}
.site-logo {
  margin: 0;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: #111517;
}
.header-dark-mode {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.fa-moon:before {
  font-size: 12px;
  margin-right: 8px;
}

/* SEARCH FORM */
.form-search {
  width: 1440px;
  height: 944px;
  padding: 48px 80px 45px;
  display: flex;
  justify-content: space-between;
}
.global-search-form-input {
  width: 480px;
  height: 56px;
  padding-left: 74px;
  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
  background-position: 34px center;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border: none;
  border-radius: 5px;
}



.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown button{
  width: 200px;
  height: 56px;
  padding: 0;
  margin-bottom: 4px;
  background: var(--element-bg);
  box-shadow: var(--box-shadov);
  border-radius: 5px;
  border: none;
  text-align: left;
  padding-left: 24px;
  background-image: url(../img/button-icon.svg);
  background-repeat: no-repeat;
  background-position: 164px center;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  background: var(--element-bg);
  box-shadow: var(--box-shadov);
  border-radius: 5px;
  padding: 16px 24px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: var(--text-color);
  transition: 0.3s ease;
}
.dropdown-content a:not(:last-child) {
  margin-bottom: 8px;
}
.dropdown-content a:hover {
  font-size: 20px;
  transition: 0.3s ease;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


